form {
    display: flex;
    flex-direction: column;
}

.bodyEditor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.bodyEditor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.allTools {
    display: flex;
}

button {
    padding-block: 0.7rem;
    padding-inline: 1rem;
    border-radius: 0.3rem;
    background: #d5a10f;
    color: #fff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    align-self: flex-end;

    &:hover {
        background: #bb911e;
    }
}