form {
    display: flex;
    flex-direction: column;
}

button {
    padding-block: 0.7rem;
    padding-inline: 1rem;
    border-radius: 0.3rem;
    background: #d5a10f;
    color: #fff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    align-self: flex-end;

    &:hover {
        background: #bb911e;
    }
}